body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
  

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1em 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

section {
    padding: 80px 20px;
    background-size: cover;
    background-position: center;
    color: #fff;
}

#hero {
    text-align: center;
    padding: 100px 20px;
    background-image: url('../img/hero-bg.png');
}

#hero h1 {
    margin: 0;
    font-size: 3em;
}

#hero p {
    font-size: 1.5em;
}

.brief-introduction {
    font-size: 1.2em;
    margin-top: 10px;
}

.slider {
    position: relative;
    max-width: 100%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

#projects {
    padding: 50px 20px;
    background-image: url('../img/projects-bg.jpg');
}

#projects h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.project-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    font-size: 1.5em;
    margin: 0 0 10px;
}

.card-content p {
    font-size: 1em;
    margin: 0;
}

#about {
    padding: 50px 20px;
    background-image: url('../img/about-bg.jpg');
}

#about h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.about-text {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #fff;
}

.about-image {
    max-width: 400px;
    margin: 0 auto;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background-image: url('../img/footer-bg.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-content h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.footer-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
}

.social-links img {
    width: 40px;
    height: 40px;
}
