/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    background-color: #000000;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

header {
    background: rgba(0, 0, 0, 0); /* Transparent background */
    padding: 1em 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center; /* Center the nav */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgba(237, 228, 57, 0.742);
    text-decoration: none;
    font-size: 1.2em;
    position: relative;
    padding: 5px 0;
}

nav ul li a:hover {
    color: rgba(237, 228, 57, 0.742);
    transition: color 0.3s ease;
}

nav ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ffcc00;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

nav ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Section Background Animation */
.common-background {
    background: linear-gradient(to right, #000000, #333333);
    animation: backgroundAnimation 10s infinite alternate;
    padding: 80px 20px;
    color: #ffffff;
}

@keyframes backgroundAnimation {
    0% {
        background: linear-gradient(to right, #000000, #333333);
    }
    100% {
        background: linear-gradient(to right, #333333, #000000);
    }
}

/* Hero Section Styles */
#hero {
    padding: 50px 20px;
    position: relative;
    overflow: hidden;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space out the profile picture and description */
    gap: 20px;
}

.hero-description h1 {
    margin: 0.3;
    font-size: 4em;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    color: #fff; /* Bright white color */
}

.hero-description h2 {
    margin: 0.3;
    font-size: 1.3em; /* Smaller font size */
    font-family: 'Lora', serif; /* Different font for h2 */
    text-align: left; /* Ensure text is left-aligned */
    transition: color 0.3s ease, text-shadow 0.3s ease;
    max-width: 600px; /* Limit the width of the h2 section */
    color: #fffdcc; /* Less bright color */
    font-weight: normal; /* Normal font weight */
}

/* About Section Styles */
#about h2 {
    font-size: 2em; /* Smaller size for h2 */
    margin-bottom: 20px;
    text-align: center; /* Align text to the left */
    margin-left: 0; /* Ensure the h2 starts at the left side */
    font-family: 'Lora', serif; /* Different font for h2 */
    color: #cccccc; /* Less bright color */
    font-weight: normal; /* Normal font weight */
}

/* Projects Section Styles */
#projects h2 {
    font-size: 2em; /* Smaller size for h2 */
    margin-bottom: 40px;
    text-align: center; /* Align text to the left */
    margin-left: 0; /* Ensure the h2 starts at the left side */
    font-family: 'Lora', serif; /* Different font for h2 */
    color: #cccccc; /* Less bright color */
    font-weight: normal; /* Normal font weight */
}

/* Footer Section Styles */
.footer-content h2 {
    font-size: 3em; /* Smaller size for h2 */
    margin-bottom: 20px;
    text-align: center; /* Align text to the left */
    margin-left: 0; /* Ensure the h2 starts at the left side */
    font-family: 'Lora', serif; /* Different font for h2 */
    color: #fffdcc; /* Less bright color */
    font-weight: normal; /* Normal font weight */
}

.hero-description h1:hover {
    color: #ffcc00; /* Change text color on hover */
    text-shadow: 0 4px 8px rgba(255, 255, 0, 0.5); /* Add shadow effect */
}

.profile-picture {
    width: 300px; /* Larger profile picture */
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border-bottom: 6px solid #ddbd31;
    transform: translateX(-50px); /* Move profile picture to the left */
    transition: transform 0.5s ease, border-color 0.5s ease;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.profile-picture:hover {
    transform: scale(1.1) translateX(-50px); /* Enhanced transition effect */
    border-color: #ffcc00;
}

/* Projects Section Styles */
#projects {
    padding: 50px 20px;
    color: #ffffff;
}

.project-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.project-cards .card {
    background-color: rgba(237, 228, 57, 0.742); /* Slightly transparent background */
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 8px rgba(237, 228, 57, 0.742);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-cards .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-cards .card img {
    width: 100%;
    height: auto;
}

.project-cards .card-content {
    padding: 20px;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.project-cards .card:hover .card-content {
    background-color: rgba(255, 255, 255, 0.2);
}

.project-cards .card-content h3 {
    font-size: 1.5em;
    margin: 0;
    color: #ffffff;
}

/* About Section Styles */
#about {
    padding: 50px 20px;
   
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.about-text {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2em;
}

.about-image {
    max-width: 400px;
    margin: 0 auto;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
}

/* Footer Section Styles */
footer {
    background-color: #000000; /* Black background */
    color: #ffffff; /* White text color */
    text-align: center;
    padding: 50px 20px; /* Increased padding for better spacing */
    position: relative;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.footer-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.5em;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-links a:hover {
    color: #ffcc00;
    transform: scale(1.2);
}

/* Animation for Contact Me Section */
footer {
    animation: footerAnimation 10s infinite alternate;
}

@keyframes footerAnimation {
    0% {
        background-color: #000000;
    }
    100% {
        background-color: #333333;
    }
}
/* Stylish Font for Brief Information */
.brief-introduction {
    font-family: 'Pacifico', cursive; /* Add a stylish font */
    font-size: 3em;
    color: #fffdcc;
    text-shadow: 2px 2px 4px rgba(222, 189, 189, 0.5);
    line-height: 1.5;
    margin: 20px 0;
}

/* Skills Section Styling */
.skills-section {
    text-align: center;
}

.skills-section h3 {
    font-family: 'Lora', serif;
    font-size: 3em;
    color: #eae1bf;
    margin-bottom: 20px;
}

.skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.skills-list li {
    background: rgba(237, 228, 57, 0.742);
    color: #000000;
    padding: 10px 20px;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skills-list li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
